# Practical Exam: House sales

RealAgents is a real estate company that focuses on selling houses.

RealAgents sells a variety of types of house in one metropolitan area.

Some houses sell slowly and sometimes require lowering the price in order to find a buyer.

In order to stay competitive, RealAgents would like to optimize the listing prices of the houses it is trying to sell.

They want to do this by predicting the sale price of a house given its characteristics.

If they can predict the sale price in advance, they can decrease the time to sale.


## Data

The dataset contains records of previous houses sold in the area.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton'. </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced" (two shared walls), "Semi-detached" (one shared wall), or "Detached" (no shared walls). </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

# Task 1

The team at RealAgents knows that the city that a property is located in makes a difference to the sale price. 

Unfortuntately they believe that this isn't always recorded in the data. 

Calculate the number of missing values of the `city`. 

 - You should use the data in the file "house_sales.csv". 

 - Your output should be an object `missing_city`, that contains the number of missing values in this column.

In [46]:
# Use this cell to write your code for Task 1
import pandas as pd

house_sales_df = pd.read_csv("house_sales.csv")
house_sales_df['city'] = house_sales_df['city'].replace('--', 'Unknown')
missing_city = (house_sales_df['city'] == 'Unknown').sum()
print(missing_city)

73

# Task 2 

Before you fit any models, you will need to make sure the data is clean. 

The table below shows what the data should look like. 

Create a cleaned version of the dataframe. 

 - You should start with the data in the file "house_sales.csv". 

 - Your output should be a dataframe named `clean_data`. 

 - All column names and values should match the table below.


| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton' </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced", "Semi-detached", or "Detached". </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

In [47]:
# Use this cell to write your code for Task 2
clean_data = house_sales_df.copy()
#house_id
clean_data['house_id'].duplicated().sum()
#city
clean_data['city'].value_counts()
#sale_price
clean_data['sale_price'].isna().sum()
clean_data['sale_price'].describe()
#sale_date
clean_data['sale_date'] = pd.to_datetime(clean_data['sale_date'], format="%Y-%m-%d")
clean_data['sale_date'].isna().sum()
#months_listed
clean_data['months_listed'].fillna(round(clean_data['months_listed'].mean(),1),inplace=True)
#bedrooms
clean_data['bedrooms'].value_counts()
#house_type
clean_data['house_type'] = clean_data['house_type'].replace('Det.', 'Detached')
clean_data['house_type'] = clean_data['house_type'].replace('Semi', 'Semi-detached')
clean_data['house_type'] = clean_data['house_type'].replace('Terr.', 'Terraced')
clean_data['house_type'].value_counts()
#area
clean_data['area'] = clean_data['area'].astype(str).str.replace(' sq.m.', '', regex=False).astype(float)
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   house_id       1500 non-null   int64
 1   city           1500 non-null   object
 2   sale_price     1500 non-null   int64
 3   sale_date      1500 non-null   datetime64[ns]
 4   months_listed  1500 non-null   float64
 5   bedrooms       1500 non-null   int64
 6   house_type     1500 non-null   object
 7   area           1500 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 93.9+ KB

# Task 3 

The team at RealAgents have told you that they have always believed that the number of bedrooms is the biggest driver of house price. 

Producing a table showing the difference in the average sale price by number of bedrooms along with the variance to investigate this question for the team.

 - You should start with the data in the file 'house_sales.csv'.

 - Your output should be a data frame named `price_by_rooms`. 

 - It should include the three columns `bedrooms`, `avg_price`, `var_price`. 

 - Your answers should be rounded to 1 decimal place.

In [43]:
# Use this cell to write your code for Task 3
price_by_rooms = house_sales_df.groupby('bedrooms')['sale_price'].agg(avg_price='mean', var_price='var').reset_index().round(1)
price_by_rooms

   bedrooms  avg_price     var_price
0         2    67076.4  5.652896e+08
1         3   154665.1  2.378289e+09
2         4   234704.6  1.725211e+09
3         5   301515.9  2.484328e+09
4         6   375741.3  3.924432e+09

# Task 4

Fit a baseline model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `base_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [44]:
# Use this cell to write your code for Task 4
# Import LinearRegression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

train = pd.read_csv("train.csv")
validation = pd.read_csv("validation.csv")

# Create dummy variable for column 'city'
train = pd.get_dummies(train, columns=['city', 'house_type'])
validation = pd.get_dummies(validation, columns=['city', 'house_type'])

X = train.drop(["sale_price","sale_date"], axis=1)
y = train["sale_price"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_validation = validation.drop("sale_date", axis=1)

# Create the model
model = LinearRegression()
# Fit the model to the data
model.fit(X_train, y_train)

# Make predictions
predictions_val = model.predict(X_validation)
predictions_test = model.predict(X_test)

# Calculate rmse
rmse = np.sqrt(mean_squared_error(y_test, predictions_test)).round(2)
print(f"Linear Regression model - RMSE: {rmse}")

# Create DataFrame
base_result = pd.DataFrame({'house_id': X_validation['house_id'].values,
                            'price': predictions_val.round(2)})

base_result

Linear Regression model - RMSE: 23461.81

     house_id      price
0     1331375  121107.48
1     1630115  302854.52
2     1645745  384067.92
3     1336775  124270.04
4     1888274  270689.40
..        ...        ...
295   1986255  351623.48
296   1896276  369959.08
297   1758223  259393.71
298   1752010  168240.74
299   1651404  390243.82

[300 rows x 2 columns]

# Task 5

Fit a comparison model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `compare_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [45]:
# Use this cell to write your code for Task 5
from sklearn.tree import DecisionTreeRegressor

# Create the model
comparison_model = DecisionTreeRegressor()
# Fit the model to the data
comparison_model.fit(X_train, y_train)

# Make predictions
comparison_predictions_val = comparison_model.predict(X_validation)
comparison_predictions_test = comparison_model.predict(X_test)

# Calculate rmse
dt_rmse = np.sqrt(mean_squared_error(y_test, comparison_predictions_test)).round(2)
print(f"Decision Tree Regressor model - RMSE: {dt_rmse}")

# Create DataFrame
compare_result = pd.DataFrame({'house_id': X_validation['house_id'].values,
                            'price': comparison_predictions_val.round(2)})

compare_result

Decision Tree Regressor model - RMSE: 19391.16

     house_id     price
0     1331375   82462.0
1     1630115  304991.0
2     1645745  405747.0
3     1336775   98538.0
4     1888274  277215.0
..        ...       ...
295   1986255  368984.0
296   1896276  397700.0
297   1758223  280859.0
298   1752010  175502.0
299   1651404  407022.0

[300 rows x 2 columns]